body {
  background-color: green;

}

.card {
  float: left;
  box-shadow: 5px 5px 2px 2px #333;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin: 0 20px 20px 0;
  padding: 0;
}

.covered {
  background-image: url(../img/card-back.png);
}

.hand {
  overflow: auto;
}
